* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato, Arial, Helvetica, "sans-serif";
}



:root {
    --color-back-1: rgb(5, 54, 23);
    --width-content: 1200px;

}

.width-content {
    max-width : 1200px;
    margin: 0 auto;
}



/* =============================================  */
/* header */

h1 {
    display: none;
}

header div {
    
    position: absolute;
    align-items: flex-end;
    
}

header div> img {
    width : 20vw;
}

header > img {
    width: 100%;
}

h1 {
    /* font-family: "Dancing Script", cursive; */
    font-size: 6vw;
    position: absolute;
    top: 0;
    color: white;
    right: 50px;
    padding: 2%;
}


/* =============================================  */
/* Barra de navegación  */


nav {
    position: sticky;
    top: 0;
    background-color: rgb(34, 209, 98);
    z-index: 2;
    /* color: white; */
    margin-top: -5px;

}

.nav-ul {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.nav-ul > li {
    list-style: none;
    padding: 10px;
    
    /* align-items: center; */
}

/* .li {
    border-top: 10px solid white;
} */

/* .texto-pestaña-centro {
    border-top: 10px solid rgb(34, 209, 98);
} */

.nav-ul > li:hover {
    color: white;
    background-color: rgb(12, 110, 48);
    border-radius: 30px;
} 
.nav-ul > li > a {
    text-decoration: none;
    color: inherit;
    font-size: 1.5rem;
}


/* =============================================  */

.lista-centro {
    text-align: center;
}

.texto-centro {
    text-align: center;
    font-size: 5vw;
    padding-top: 50px;
    padding-bottom: 50px;
}

img {
    /* padding: 2%; */
    width: 100%;
}


h2 {
    /* font-family: Amita, serif; */
    text-align: center;
    font-size: 2.5rem;
    position: relative;
    padding: 2%;
}

h3 {
    
    text-align: center;
    font-size: 2.5rem;
    /* position: relative; */
    padding: 2%;
}
p {
    padding: 2%;
    font-size: 1.5rem;
}

/* footer */

footer {
    background-color:   rgb(12, 110, 48);
    position: relative;
    color: white;
    bottom: 0;
    /* width: 100%; */
    
}

.footer-div {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    /* font-size: 1.5rem; */
}

.footer-div > p {
    font-family: Lato, serif;
    font-size: 1rem;
    font-weight: 700;
}

.img-pequeña {
   
    width: 10%;

}

.img-mediana {
   
    width: 50%;

}

/* .footer-div > div > img {
    background-color: black;
    width: 50%;
} */

.final {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(12, 110, 48);
    padding: 2rem 5%;
    color: white
  }
  
  #nosotros {
    font-size: 1;
  
    a {
      font-size: inherit;
      text-decoration: none;
      color:white;
    }
  }
  
  #app {
    font-size: 1.2rem;
    text-align: center;
    img {
      width: 40%;
    }
  }
  
  #siguenos {
    font-size: 1.2rem;
    text-align: center;
  
  
    div {
      display: flex;
      justify-content: space-around;
      padding: 1rem;
    }
    img {
      width: 30%;
    }
  }


